@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.inner{
    position: relative;
    width: 1180px;
    margin: auto;
    background-color: antiquewhite;
}
header {
    
    width: 100%;
    border: 1px solid #ddd;
    background-color: aquamarine; 
}
header .inner{
    height: 120px;
}
header .header-top {
    position: relative;
    height: 60px;
}
header .header-top .util{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 20px;
    text-align: center;
}
.util li{
    float: left;
}
.util li a{
    
}