@charset "utf-8";
/* 공통영역 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.inner{
    position: relative;
    width: 1180px;
    margin: auto;
    /* background-color: rgb(222, 251, 241); */
}
/* 헤더영역 */
header{
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: antiquewhite;
}
header .inner{
    height: 120px;
}
header .header-top{
    position: relative;
    height: 60px;
    /* background-color: rgb(143, 143, 240); */
}
header .header-top .util{
    /* background-color: rgb(243, 208, 208); */
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 20px;
    text-align: center;
}
.util li{
    float: left;
}
/* 폰트와 색은 a에 줘야함 글자를 그안에 썼으니*/
.util li a{
    display: block;
    padding: 0 10px;
    /* 폰트 사이즈 12 라인헤이트1(13px) font-family*/
    font: 13px/1 "arial";
}
header .header-bt{
    position: relative;
    height: 60px;
    /* background-color: rgb(243, 139, 221); */
}
header .header-bt h1{
    float: left;
    line-height: 60px;
}
header .header-bt #gnb{
    /* positon은 영역 설정을 위해 부모에다 relative 해주고  
    자식에게 이동할수 있는 영역absolute 부여한다*/ 
    position: absolute;
    top:0;
    right:0;
    /* background-color: rgb(195, 231, 160); */
}
header .header-bt #gnb li{
    /* 이것은 단순히 영역이 나눠지는 것이 아니라 h1 float left
    했으니 li 도 left 해줘야 글씨가 옆에 붙음 */
    float: left;
}
header .header-bt #gnb li a{
    display: block;
    font: bold 15px/1 "arial";
    padding: 20px 40px;
    /* background-color: rgb(248, 188, 145); */
}
header .header-bt #gnb li a:hover{
    background-color: #333;
    color: #fff;
}
/* 비디오 영역 */
figure{
    position: relative;
    width: 100%;
    /* 전체 브라우져 높이(100vh)로 잡히니 헤더영역 높이를 빼줌 */
    height: calc(100vh - 120px);
    padding-top: 250px;
    background-color: #000;
}
figure video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 영상을 figure 영역에 너비에 꽉 차게 설정 contain은 높이 꽉참 */
    object-fit: cover;    
    opacity: 0.3;
}
figure .inner{
    /* background-color: bisque; */
}
figure .inner h1{
    font: normal 120px/1 "arial";
    color: #fff;
    margin-bottom: 20px;
}
figure .inner p{
    font: 16px/1.4 "arial";
    color: #888;
    margin-bottom: 60px;
}
/* 버튼보다 a가 좋음 */
figure .inner a{
    display: block;
    width: 400px;
    height: 30px;
    border: 1px solid #bbb;
    font: bold 12px/30px "arial";
    color: #fff;
    text-align: center;
    /* 호버에 주지 않고 a바로 반응 속도 넣기 */
    transition: all 0.5s;
}
figure .inner a:hover{
    background-color: #fff;
    color: #333;
    
}
/* 뉴스 */
section{
    width: 100%;
    padding: 200px 0;
    /* background-color: rgb(152, 152, 235); */
}
section .inner h1{
    font: bold 24px/1 "arial";
    color: #333;
    text-align: center;
    padding-bottom: 50px;
}
section .inner .section-wrap{
    width: 100%;
}
.section-wrap{
    width: 100%;
}
.section-wrap::after{
    content: "";
    display: block;
    /* float left 모두 된것을 clear로 양쪽 정렬 */
    clear: both;
}
.section-wrap article{
    /* 따로 일일이 계산하지 않고 플렉스로 맞춰지게 할수 있음 */
    width: calc(100% / 4 - 15px); 
    /* width: calc((100% - 60px) / 4); */
    float: left;
    margin-right: 20px;
}
.section-wrap article:last-child{
    margin-right: 0;
}
.section-wrap article .pic{
    position: relative;
    width: 100%;
    height: 120px;
    /* 원하는 이미지 넘는 부분 숨기기 */
    overflow: hidden;
    margin-bottom: 15px;
}
.section-wrap article .pic img{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    /* height: 100%; */
}
.section-wrap article h3{
    margin-bottom: 10px;
}
.section-wrap article h3 a{
    font: bold 16px/1 "arial";
}
.section-wrap article p{
    font: 14px/1.4 "arial";
    color: #777;
}
/* 하단 */
footer{
    /* 브라우저 전체임 */
    width: 100%;
    background-color: #333;
    padding: 100px 0;
    border-top: 1px solid #bbb;
}
/* 하단위 */
.upper{
    padding-bottom: 20px ;
    border-bottom: 1px solid #777;
    /* background-color: aliceblue; */
}
/* 중간에 칸만들어 주기 그냥 외우기 */
.upper::after{
    content: "";
    display: block;
    clear: both;
}
.upper h2 a{
    /* width: 200px; */
    color: #666;
    font: bold 24px/1 "arial";
    float: left;
    /* background-color: #000; */
}
/* ul 오른쪽 띄우고 li left로 띄워 마진값주기*/
.upper ul{
    /* width: 600px; */
    float: right;
/*     
    background-color: rgb(127, 255, 140); */
}
.upper ul li{
    float: left;
    margin-left: 20px ;
}
.upper ul li a{
    color: #666;
    font: bold 14px/1 "arial";
}
/* 하단아래 */
.lower{
    padding-top: 20px ;
    /* background-color: aquamarine; */
}
.lower address{
    font: 12px/1.3 "arial";
    color: #777;
    margin-bottom: 20px;
}
.lower p{
    font: 12px/1 "arial";
    color: #777;
}